<main class='search-main'>
	{{#if user}}
		<h2 class='searched-user-info'>{{user.name}}'s profile</h2>
		<section class='search-media'>
			<div class='search-card'>
				<h3>watched movies:</h3>
				<p class='total-count'>Number of watched movies: {{movieLength}}</p>
				<ul>
					{{#each watchedMovies as |movie|}}
						<li class='media-li-title'>{{movie.name}}</li>
						<li class='media-li-description'>{{movie.description}}</li>
					{{/each}}
				</ul>
				<hr />

				<h3>Watchlist:</h3>
				<ul>
					{{#each unwatchedMovies as |movie|}}
						<li class='media-li-title'>{{movie.name}}</li>
						<li class='media-li-description'>{{movie.description}}</li>
					{{/each}}
				</ul>
			</div>
			<div class='search-card'>
				<h3>read books:</h3>
				<p class='total-count'>Number of read books: {{bookLength}}</p>
				<ul>
					{{#each readBooks as |book|}}
						<li class='media-li-title'>{{book.name}}</li>
						<li class='media-li-description'>{{book.description}}</li>
					{{/each}}
				</ul>
				<hr />
				<h3>To read:</h3>
				<ul>
					{{#each unreadBooks as |book|}}
						<li class='media-li-title'>{{book.name}}</li>
						<li class='media-li-description'>{{book.description}}</li>
					{{/each}}
				</ul>
			</div>
			<div class='search-card'>
				<h3>heard songs:</h3>
				<p class='total-count'>Number of heard songs: {{songLength}}</p>
				<ul>
					{{#each heardSongs as |song|}}
						<li class='media-li-title'>{{song.name}}</li>
						<li class='media-li-description'>{{song.description}}</li>
					{{/each}}
				</ul>
				<hr />
				<h3>Song queue:</h3>
				<ul>
					{{#each unheardSongs as |song|}}
						<li class='media-li-title'>{{song.name}}</li>
						<li class='media-li-description'>{{song.description}}</li>
					{{/each}}
				</ul>
			</div>
		</section>
	{{/if}}
</main>