<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binge</title>
    <link rel="stylesheet" type="text/css" href="skeleton2.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>
    <script id="box-template" type="text/x-handlebars-template">
        <div class="box-wrapper">
            <div class="box">
                <a href="{{box1Link}}" target="_blank">
                    <img src="{{box1ImageSource}}" alt="{{box1ImageAlt}}">
                </a>
            </div>

            <div class="box">
                <a href="{{box2Link}}" target="_blank">
                    <img src="{{box2ImageSource}}" alt="{{box2ImageAlt}}">
                </a>
            </div>

            <div class="box">
                <a href="{{box3Link}}" target="_blank">
                    <img src="{{box3ImageSource}}" alt="{{box3ImageAlt}}">
                </a>
            </div>
        </div>
    </script>

    <script>
        var boxTemplate = document.getElementById("box-template").innerHTML;

        var compiledTemplate = Handlebars.compile(boxTemplate);

        var box1Content = "Box 1";
        var box1ImageSource = "./assets/song.jpg";
        var box1ImageAlt = "song image";
        var box1Link = "https://.com/song";  //sam is working on the routes

        var box2Content = "Box 2";
        var box2ImageSource = "./assets/Movie.jpg"; // this code is working with icon handlebars 
        var box2ImageAlt = "movie image";
        var box2Link = "https://.com/movie";

        var box3Content = "Box 3";
        var box3ImageSource = "./assets/books.jpg";
        var box3ImageAlt = "book image";
        var box3Link = "https://.com/books";

        var generatedHTML = compiledTemplate({
            box1Content: box1Content,
            box1ImageSource: box1ImageSource,
            box1ImageAlt: box1ImageAlt,
            box1Link: box1Link,
            box2Content: box2Content,
            box2ImageSource: box2ImageSource,
            box2ImageAlt: box2ImageAlt,
            box2Link: box2Link,
            box3Content: box3Content,
            box3ImageSource: box3ImageSource,
            box3ImageAlt: box3ImageAlt,
            box3Link: box3Link
        });

        document.body.innerHTML = generatedHTML;
    </script>
</body>
</html>