<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binge</title>
    <link rel="stylesheet" type="text/css" href="skeleton2.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body>

</body>
<script id="box-template" type="text/x-handlebars-template">
    <div class="box-wrapper">
        <div class="box">
            <a href="{{box1Link}}" target="_blank">
                <img src="{{box1ImageSource}}" alt="{{box1ImageAlt}}">
            </a>
        </div>

        <div class="box">
            <a href="{{box2Link}}" target="_blank">
                <img src="{{box2ImageSource}}" alt="{{box2ImageAlt}}">
            </a>
        </div>

        <div class="box">
            <a href="{{box3Link}}" target="_blank">
                <img src="{{box3ImageSource}}" alt="{{box3ImageAlt}}">
            </a>
        </div>
    </div>
</script>
<script src="index2.js"></script>
</html>

