<!DOCTYPE html>
<html>
<head>
	<title>Binge</title>
	<link rel="stylesheet" type="text/css" href="skeleton4.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>
<body>
	<nav class="nav">
		<h1>
			Binge
		</h1>
	</nav>
	<div class="container">
	</div>
	<script id="register-template" type="text/x-handlebars-template">
		<h1>Register</h1>
		<form>
			{{#each fields}}
			<label for="{{id}}">{{label}}</label>
			<input type="{{type}}" id="{{id}}" name="{{name}}" {{#if required}}required{{/if}}>
			{{/each}}
			<input type="submit" value="{{{buttonText}}}">
		</form>
		<p>{{{loginText}}}</p>
	</script>
	<script>
		var source = document.getElementById("register-template").innerHTML;
		var template = Handlebars.compile(source);
		var data = {
			buttonText: "Register",
			loginText: "Already have an account? <a href='#'>Login</a>",
			fields: [
				{label: "Name", type: "text", id: "name", name: "name", required: true},
				{label: "Email", type: "email", id: "email", name: "email", required: true},
				{label: "Password", type: "password", id: "password", name: "password", required: true}
			]
		};
		document.querySelector(".container").innerHTML = template(data);
	</script>
</body>
</html>